<div class="container">
  <form class="form-horizontal" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-4">
        <input class="form-control" placeholder="Enter title" type="text" name="title" formControlName="title" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="code">Code:</label>
      <div class="col-sm-10">
        <app-ngx-editor [config]='{
          "editable": true,
          "spellcheck": true,
          "height": "400px",
          "minHeight": "0",
          "width": "auto",
          "minWidth": "0",
          "translate": "yes",
          "enableToolbar": true,
          "showToolbar": true,
          "placeholder": "Enter text here...",
          "imageEndPoint": "",
          "toolbar": [
              ["bold", "italic", "underline", "strikeThrough", "superscript", "subscript"],
              ["fontName", "fontSize", "color"],
              ["justifyLeft", "justifyCenter", "justifyRight", "justifyFull", "indent", "outdent"],
              ["cut", "copy", "delete", "removeFormat", "undo", "redo"],
              ["paragraph", "blockquote", "removeBlockquote", "horizontalLine", "orderedList", "unorderedList"],
              ["link", "unlink", "image", "video"]
          ]
      }' [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent" name="description" formControlName="description"></app-ngx-editor>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-success" value="Save">
        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
    </div>
  </form>
</div>