<div class="container">
  <h2>Database</h2>
  <div class="row">
    <div class="col-sm-2">
      <label for="sel1">Select one collection:</label>
    </div>
    <div class="col-sm-2">
      <select [(ngModel)]="selectedValue" (change)="onChange($event.target.value)" class="form-control">
          <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
      </select>
    </div>
    <div class="col-sm-1">
      <button type="button" [disabled]="loading || collection=='noselect'" class="btn btn-info" (click)="refresh()"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2">
      <button type="button" [disabled]="loading || collection=='noselect'" class="btn btn-info" (click)="openModal(uploadDlg)"><i class="fa fa-file-excel-o"></i> Import with CSV</button>
    </div>
    <div class="col-sm-2">
      <button type="button" [disabled]="loading || collection=='noselect' || !hasData()" class="btn btn-info" (click)="exportCSV()"><i class="fa fa-file-excel-o"></i> Export to CSV</button>
    </div>
  </div>
  <hr/>
  <table *ngIf="collection=='users'" class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Salt</th>
        <th>Hash</th>
        <th>Time Created</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user._id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.salt}}</td>
        <td>{{user.hash.substring(0, 10)}} ...</td>
        <td>{{user.timecreated}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete('users', user._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="collection=='questions'" class="table table-striped">
    <thead>
      <tr>
        <th>Question ID</th>
        <th>Sequence</th>
        <th>Title</th>
        <th>Difficulty</th>
        <th>Frequency</th>
        <th>Rating</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{question._id}}</td>
        <td>{{question.sequence}}</td>
        <td>{{question.title}}</td>
        <td>{{question.difficulty}}</td>
        <td>{{question.frequency}}</td>
        <td>{{question.rating}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete('questions', question._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="collection=='submissions'" class="table table-striped">
    <thead>
      <tr>
        <th>Submission ID</th>
        <th>User Name</th>
        <th>Question Name</th>
        <th>Language</th>
        <th>Solution</th>
        <th>Status</th>
        <th>Time Updated</th>
        <th>Time Submitted</th>
        <th>Runtime</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let submission of submissions">
        <td>{{submission._id}}</td>
        <td>{{submission.username}}</td>
        <td>{{submission.questionname}}</td>
        <td>{{submission.language}}</td>
        <td>{{submission.solution}}</td>
        <td>{{submission.status}}</td>
        <td>{{submission.timeupdated}}</td>
        <td>{{submission.timesubmitted}}</td>
        <td>{{submission.runtime}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="delete('submissions', submission._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #uploadDlg>
    <form [formGroup]="uploadForm" enctype="multipart/form-data">
      <div class="modal-header">
        <h3 class="modal-title pull-left">Import Data</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="clearFile()">
                  <span aria-hidden="true">&times;</span>
                </button>
      </div>
      <div class="modal-body">
        <div class="form-group" style="padding:10px 50px;">
          <h4>Select CSV File</h4>
          <div class="input-group">
            <span class="input-group-btn">
                  <button class="btn btn-default btn-choose" (click)="choose()" type="button">Choose</button>
                  <input type='file' id="upload" (change)="onFileChange($event)" style='visibility:hidden; height:0'>                  
              </span>
            <input type="text" readonly class="form-control" placeholder='Choose a file...' [value]="filename" />
            <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="clearFile()">Reset</button>
              </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="loading" class="btn btn-primary" (click)="confirm()">Upload</button>
        <app-widget-loading-image [loading]="loading"></app-widget-loading-image>
        <button type="button" class="btn btn-default" (click)="decline()">Cancel</button>
      </div>
    </form>
  </ng-template>
</div>