<div class="container">
  <h2>Register</h2>
  <h4>Create a new account</h4>
  <hr />
  <form class="form-horizontal" [formGroup]="baseForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="displayFieldCss('username')">
      <label class="control-label col-sm-2 required" for="username">User Name:</label>
      <div class="col-sm-4">
        <input #username type="text" class="form-control" name="username" placeholder="Enter user name" formControlName="username">
        <app-widget-validation-message [displayError]="isFieldValid('username')" errorMsg="Please enter a user name with at least 3 characters">
        </app-widget-validation-message>
      </div>
    </div>
    <div class="form-group" [ngClass]="displayFieldCss('password')">
      <label class="control-label col-sm-2 required" for="password">Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" name="password" placeholder="Enter password" formControlName="password">
        <app-widget-validation-message [displayError]="isFieldValid('password')" errorMsg="Please enter a password with at least 6 characters">
        </app-widget-validation-message>
      </div>
    </div>
    <div class="form-group" [ngClass]="displayFieldCss('email')">
      <label class="control-label col-sm-2 required" for="email">Email:</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" name="email" placeholder="Enter email" formControlName="email">
        <app-widget-validation-message [displayError]="isFieldValid('email')" errorMsg="Please enter a valid email address">
        </app-widget-validation-message>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" [disabled]="loading" class="btn btn-success">Register</button>
        <app-widget-loading-image [loading]="loading"></app-widget-loading-image>
        <app-widget-loading-link [loading]="loading" link="/login" title="Cancel" [inline]="true"></app-widget-loading-link>
      </div>
    </div>
  </form>
</div>